SERVICE_NAME=fullmetal-product
DEBUGGING=true
CONTEXT_TIMEOUT=5000
HTTP_PORT=8000
RPC_PORT=50051

RPC_PAYMENT_PORT=50052

OTEL_HTTP_EXPORTER=
OTEL_GRPC_EXPORTER=

# DB_READ_HOST=host.docker.internal
DB_READ_HOST=localhost
DB_READ_PORT=5432
DB_READ_NAME=fullmetal
DB_READ_USER=postgres
DB_READ_PASS=admin
DB_READ_SCHEMA=product

# DB_WRITE_HOST=host.docker.internal
DB_WRITE_HOST=localhost
DB_WRITE_PORT=5432
DB_WRITE_NAME=fullmetal
DB_WRITE_USER=postgres
DB_WRITE_PASS=admin
DB_WRITE_SCHEMA=product

# REDIS_HOST=host.docker.internal:6379
REDIS_HOST=localhost:6379
REDIS_PASS=
REDIS_DB=
REDIS_TIMEOUT=5

KAFKA_HOST_PORT=localhost:9092
KAFKA_CONSUMER_GROUP=fullmetal-product
KAFKA_CONSUMER_GROUP=fullmetal-product

# ELASTIC_HOST=host.docker.internal:9200
ELASTIC_HOST=localhost:9200
ELASTIC_USER=elastic
ELASTIC_PASS=Br9hwYsYukxQxsyUoJXJ