# -------------------------------------------------
# OS / Environment files
# -------------------------------------------------
.env

# -------------------------------------------------
# IDE / Editor files
# -------------------------------------------------
.vscode/
.idea/


# -------------------------------------------------
# Go build output
# -------------------------------------------------
# Go binary output
/bin/
*.exe
main
__debug_bin*


# -------------------------------------------------
# Logs and temporary files
# -------------------------------------------------
*.log